body{
    margin: 0;
    padding:0;
    text-align: center;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

input{
    border: 1px solid #ccc;
    width: 200px;
    padding: 5px;
    margin-bottom: 15px;  
    border-radius: 5px;
}

button{
    margin: 5px auto;
    display: block;
    padding: 8px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    
}

button:hover{
    background-color: #439b46;
}

label{
    display: block;
    margin-bottom: 5px;
}

a:link{
    text-decoration: none;
}